body {
  font-family: 'Geneva', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: large;
}

form {
  width: 60%;
  margin: 0 auto;
}


input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

button {
  background-color: #27a9e1;
  color: white;
  padding: 15px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  vertical-align: bottom;
}

button[disabled] {
  background-color: #ccc; /* Change background color for disabled state */
  cursor: not-allowed; /* Change cursor for disabled state */
}

button:hover {
  opacity: 0.8;
}

.outter {
  padding: 16px;
  width: 50%;
  margin-left: 25%
}

.sso {
  display: flex;
  margin-top: 2%;
  margin: 2% auto;
}

.login-btn {
  border-radius: 3px;
}

.logout {
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.version-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.version-table {
  border-collapse: collapse;
  font-size: 14px;
  color: #888;
}

.version-table th {
  text-align: left;
  padding: 5px 10px;
}

.version-table td {
  padding: 5px 10px;
}

form {
  border: none;
}

.login-form {
  width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.signup_or_sso {
  position: relative;
  text-align: center;
}

.signup-link {
  display: inline-block;
  margin-top: 10px;
  color: #27a9e1;
  text-decoration: none;
  align-content: center;
}

.signup-link:hover {
  text-decoration: underline;
}

#continue_with_sso {
  padding: 10px 0px 5px 0px;
}