body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: 60%;
  margin: 0 auto;
}


input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 15px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  vertical-align: bottom;
}

button:hover {
  opacity: 0.8;
}

.outter {
  padding: 16px;
  width: 50%;
  margin-left: 25%
}

.sso {
  display: flex;
  margin-top: 2%;
  margin: 2% auto;
}

.login-btn {
  border-radius: 3px;
}

.logout {
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
}