<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>

<body>
    <div class="row">
        <div class="outter">
        <form class="col-lg-2 logout" method="post" action="/v1/logout">
            <button class="fa-solid fa-right-from-bracket" type="submit">
            </button>
        </form>
        <p class="col-lg-2"><i class="fa-regular fa-user"></i> {{user.username}}</p>
        
    <table style="text-align:center; font-family: 'Geneva'; font-size:large" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Provider</th>
                <th scope="col">Users #</th>
            </tr>
        </thead>
        <tbody>
            {% for record in users_stats %}
            <tr>
                <td>{{record.provider}}</td>
                <td>{{record.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="version-container">
        <span class="version">fastapi: v{{fastapi_version}}</span>
        <span class="version">fastapi-sso: v{{fastapi_sso_version}}</span>
    </div>
</body>

</html>