<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="outter col-lg-6">
    {% if user %}
        <form method="post" action="/v1/logout">
            <button  class="fa-solid fa-right-from-bracket" type="submit">
            </button>
         </form>
    <p style="text-align:right;float: right;"><i class="fa-regular fa-user"></i>  {{user.email}}</p>
    {% else %}
        <form action="v1/login" method="post">
              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username" required>
          
              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" required>
                  
              <button type="submit">Login</button>
        </form>
        <div class="sso col-lg-8">
                <form class="col-lg-2" method="get" action="/v1/google/login" style="text-align: center;">
                    <button class="login-btn" type="submit">
                        <i class="fa-brands fa-google"></i>
                    </button>
                </form>
                <form class="col-lg-2" method="get" action="/v1/github/login" style="text-align: center;" >
                    <button class="login-btn" type="submit">
                        <i class="fa-brands fa-github"> </i>
                    </button>
                </form>
                <form class="col-lg-2" method="get" action="/v1/spotify/login" style="text-align: center;" >
                    <button class="login-btn" type="submit">
                        <i class="fa-brands fa-spotify"></i>
                    </button>
                </form>
                <form class="col-lg-2" method="get" action="/v1/facebook/login" style="text-align: center;" >
                    <button class="login-btn" type="submit">
                        <i class="fa-brands fa-facebook"></i>
                    </button>
                </form>
                <form class="col-lg-2" method="get" action="/v1/microsoft/login" style="text-align: center;" >
                    <button class="login-btn" type="submit">
                        <i class="fa-brands fa-microsoft"></i>
                    </button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if user %}
    <table style="text-align:center;" class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Provider</th>
            <th scope="col">Users #</th>
          </tr>
        </thead>
        <tbody>
        {% for record in users_stats %}
          <tr>
            <td>{{record.provider}}</td>
            <td>{{record.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>
</body>
</html>
