<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* Remove border from the login form */
        form {
            border: none;
        }

        /* Adjust the width of the login form */
        .login-form {
            width: 100%;
        }

        /* Center content vertically */
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="v1/login" method="post" class="login-form">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Login</button>
                </form>
                
                <div class="row mt-3">
                    <form class="col-lg-3" method="get" action="/v1/google/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-google"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/microsoft/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-microsoft"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/github/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-github"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/gitlab/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-gitlab"></i></button>
                    </form>
                </div>
                <div class="row mt-3">
                    <form class="col-lg-3" method="get" action="/v1/spotify/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-spotify"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/facebook/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-facebook"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/xtwitter/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-x"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/linkedin/login" style="text-align: center;">
                        <button class="login-btn" type="submit"><i class="fa-brands fa-linkedin"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
