<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>

<body>
    <div class="login-container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="v1/login" method="post" class="login-form">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Login</button>
                </form>
                
                <div class="signup_or_sso">
                    <p>Don't have an account? <a href="/v1/documentation#/Auth/create_user_v1_sign_up_post" target="_blank" class="signup-link">Sign up</a></p>
                    <p  id="continue_with_sso">Or continue with:</p>
                </div>
                <div class="row mt-3">
                    <form class="col-lg-3" method="get" action="/v1/google/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-google"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/microsoft/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-microsoft"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/github/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-github"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/gitlab/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-gitlab"></i></button>
                    </form>
                </div>
                <div class="row mt-3">
                    <form class="col-lg-3" method="get" action="/v1/spotify/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-spotify"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/facebook/login" >
                        <button class="login-btn" title="Currently unavailable" type="submit"><i class="fa-brands fa-facebook"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/xtwitter/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-x"></i></button>
                    </form>
                    <form class="col-lg-3" method="get" action="/v1/linkedin/login" >
                        <button class="login-btn" type="submit"><i class="fa-brands fa-linkedin"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <a href="#" onclick="openPrivacyPolicy()">Privacy Policy & Disclaimer</a>
        </div>
        <div class="version-container">
            <table class="version-table">
                <!-- Version table content -->
                <tr>
                    <th>Package</th>
                    <th>Version</th>
                </tr>
                <tr>
                    <td>fastapi:</td>
                    <td>{{fastapi_version}}</td>
                </tr>
                <tr>
                    <td>fastapi_sso:</td>
                    <td>{{fastapi_sso_version}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>

    <script>
        // Function to open the privacy policy content in a popup window
        function openPrivacyPolicy() {
            // Fetch the privacy policy content from the backend (replace with your actual API endpoint)
            fetch('/privacy_policy')
                .then(response => response.text())
                .then(data => {
                    // Create a popup window with the privacy policy content
                    const popupWindow = window.open('', '_blank', 'width=800,height=600,scrollbars=yes');
                    popupWindow.document.write(data);
                    popupWindow.document.close();
                })
                .catch(error => {
                    console.error('Error fetching privacy policy:', error);
                });
        }
    </script>
</html>
